<div class="table-responsive">

  <table class="table table-hover table-bordered ">
    <thead class="thead-light">
      <tr>
        <th>Flight #</th>
        <th>Departs</th>
        <th>From</th>
        <th>Arrives</th>
        <th>At</th>
        <th>Status</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>{{item.flightNo}}</td>
        <td>{{item.start.time | date:'shortTime'}}</td>
        <td>{{item.start.airportCode}}</td>
        <td>{{item.end.time | date:'shortTime'}}</td>
        <td>{{item.end.airportCode}}</td>
        <td>{{item.status}}</td>
        <td class="text-center">
          <button disabled="disabled" class="btn btn-link">Reserve</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
